[submodule "dotfiles/src/.vim/bundle/pathogen"]
	path = dotfiles/src/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotfiles/src/.vim/bundle/fugitive"]
	path = dotfiles/src/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/src/.vim/bundle/nerdcommenter"]
	path = dotfiles/src/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotfiles/src/.vim/bundle/unimpaired"]
	path = dotfiles/src/.vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dotfiles/src/.vim/bundle/tabular"]
	path = dotfiles/src/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "dotfiles/src/.vim/bundle/tagbar"]
	path = dotfiles/src/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dotfiles/src/.vim/bundle/ctrlp.vim"]
	path = dotfiles/src/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dotfiles/src/.vim/bundle/syntastic"]
	path = dotfiles/src/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
