[user]
	name = gregr
	email = greg.weiqi@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	aa = add --all
	br = branch -v
	bra = branch -va
	chp = cherry-pick
	ca = commit --amend
	ci = commit
	co = checkout
	df = diff
	dfs = diff --stat
	dfc = diff --cached
	dfcs = diff --cached --stat
	dfn = diff --name-status
	gr = grep --color -n
	l = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'
	ls = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --stat
	la = log --all --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'
	las = log --all --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --stat
	lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cd) %C(blue)<%an>%Creset'
	lgs = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cd) %C(blue)<%an>%Creset' --stat
	lga = log --all --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cd) %C(blue)<%an>%Creset'
	lgas = log --all --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cd) %C(blue)<%an>%Creset' --stat
	lt = log --graph --oneline --decorate
	lts = log --graph --oneline --decorate --stat
	lta = log --all --graph --oneline --decorate
	ltas = log --all --graph --oneline --decorate --stat
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase -i
	sh = show
	shn = show --name-status
	st = status
	subup = submodule update --init --recursive
	land = !git-land
[core]
	excludesfile = ~/.gitignore
[merge]
	conflictstyle = diff3
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	templatedir = ~/.git_template
