[user]
	name = gregr
	email = greg.weiqi@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	br = branch -v
	bra = branch -va
	chp = cherry-pick
	ci = commit
	co = checkout
	df = diff
	gr = grep --color -n
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	rb = rebase
	rbi = rebase -i
	sh = show
	st = status
[core]
	excludesfile = ~/.gitignore
