[user]
	name = gregr
	email = greg.weiqi@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	br = branch -v
	bra = branch -va
	chp = cherry-pick
	ca = commit --amend
	ci = commit
	co = checkout
	df = diff
	dfc = diff --cached
	dfn = diff --name-status
	gr = grep --color -n
	l = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'
	la = log --all --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'
	lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %Cgreen(%cd) %C(blue)<%an>%Creset'
	lt = log --graph --oneline --decorate
	lta = log --all --graph --oneline --decorate
	rb = rebase
	rbi = rebase -i
	sh = show
	shn = show --name-status
	st = status
	subup = submodule update --init --recursive
	land = !git-land
[core]
	excludesfile = ~/.gitignore
[merge]
	conflictstyle = diff3
[url "git@github.com:"]
	insteadOf = https://github.com/
